[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
orderbook = "4uPZkgMLRnDaUX2odfb1ocpGPywHkU2eqM7v8WGJ5Uqb"

[registry]
url = "http://127.0.0.1:8899"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false
